{% extends '_layouts/cp' %}

{% import '_includes/forms' as forms %}

{% set title = 'Edit Subscription' %}
{% set fullPageForm = true %}
{% set selectedSubnavItem = 'subscriptions' %}
{% set groups = craft.contentSubscriptions.getMailGroupLabels %}

{% set crumbs = [
    { label: craft.contentSubscriptions.getPluginName | t('content-subscriptions'), url: url('content-subscriptions') },
    { label: 'Subscriptions' | t('content-subscriptions'), url: url('content-subscriptions/subscriptions') },
    { label: subscription.email, url: url('content-subscriptions/subscriptions/edit/'  ~ subscription.id) },
] %}

{% block content %}

    {{ forms.hidden({
        name: 'action',
        value: 'content-subscriptions/subscriptions/update-subscription'
    }) }}

    {{ forms.hidden({
        name: 'id',
        value: subscription.id
    }) }}

    {% include 'content-subscriptions/_includes/subscriptionFormFields' %}

{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        {% include 'content-subscriptions/_includes/_sidebar' with {'element': subscription} %}
        {{ forms.lightSwitchField({
            label: 'Mail verified'|t('content-subscriptions'),
            name: 'verificationStatus',
            on: subscription.verificationStatus
        }) }}
        <div class="field">
            <a href="{{ cpUrl('content-subscriptions/subscriptions/sendVerificationMail/' ~ subscription.hashValue) }}">{{ 'Resend verification mail'|t('content-subscriptions') }}</a>
        </div>
    </div>
{% endblock %}