{% extends '_layouts/cp' %}

{% import '_includes/forms' as forms %}

{% set title = 'Edit Subscription' %}
{% set fullPageForm = true %}
{% set selectedSubnavItem = 'subscriptions' %}
{% set groups = craft.mailSubscriptions.getMailGroupLabels %}

{% set crumbs = [
    { label: 'Content Subscriptions' | t('mail-subscriptions'), url: url('mail-subscriptions') },
    { label: 'Subscriptions' | t('mail-subscriptions'), url: url('mail-subscriptions/subscriptions') },
    { label: subscription.email, url: url('mail-subscriptions/subscriptions/edit/'  ~ subscription.id) },
] %}

{% block content %}

    {{ forms.hidden({
        name: 'action',
        value: 'mail-subscriptions/subscriptions/update-subscription'
    }) }}

    {{ forms.hidden({
        name: 'id',
        value: subscription.id
    }) }}

    {% include 'mail-subscriptions/_includes/subscriptionFormFields' %}

{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        {% include 'mail-subscriptions/_includes/_sidebar' with {'element': subscription} %}
        {{ forms.lightSwitchField({
            label: 'Mail verified'|t('mail-subscriptions'),
            name: 'verificationStatus',
            on: subscription.verificationStatus
        }) }}
        <div class="field">
            <a href="{{ cpUrl('mail-subscriptions/subscriptions/sendVerificationMail/' ~ subscription.hashValue) }}">{{ 'Resend verification mail'|t('mail-subscriptions') }}</a>
        </div>
    </div>
{% endblock %}