{#
{% extends '_layouts/elementindex.twig' %}
{% set title = 'Products' %}
{% set elementType = 'publishing\\mailsubscriptions\\elements\\Subscription' %}
#}


{% extends '_layouts/cp' %}

{% import '_includes/forms' as forms %}

{% set title = 'Subscriptions'|t('content-subscriptions') %}
{% set groups = craft.contentSubscriptions.getMailGroups %}
{% set selectedSubnavItem = 'subscriptions' %}

{% set crumbs = [
    { label: craft.contentSubscriptions.getPluginName | t('content-subscriptions'), url: url('content-subscriptions') },
    { label: 'Subscriptions' | t('content-subscriptions'), url: url('content-subscriptions/subscriptions') },
] %}

{% block headertitle %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block actionButton %}
    <a href="{{ cpUrl('content-subscriptions/subscriptions/new') }}" class="btn submit add icon">{{ 'New Subscription'|t('content-subscriptions') }}</a>
{% endblock %}

{% block content %}

    {% set subscriptions = craft.contentSubscriptions.getSubscriptions() %}

    {% if subscriptions|length %}
        <div class="tableview tablepane">
            <table class="data fullwidth">
                <thead>
                    <tr>
                        <th scope="col">{{ 'Group' |t('content-subscriptions') }}</th>
                        <th scope="col">{{ 'Firstname' |t('content-subscriptions') }}</th>
                        <th scope="col">{{ 'Lastname' |t('content-subscriptions') }}</th>
                        <th scope="col">{{ 'Email' |t('content-subscriptions') }}</th>
                        <th scope="col">{{ 'Enabled' |t('content-subscriptions') }}</th>
                        <th scope="col">{{ 'Verified' |t('content-subscriptions') }}</th>
                        <th scope="col">{{ 'Date registered' |t('content-subscriptions') }}</th>
                        <th class="thin"></th>
                        <th class="thin"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for subscription in subscriptions %}
                        <tr class="g-{{ subscription.groupId }}">
                            <td>{{ groups[subscription.groupId].groupName ?? '-' }}</td>
                            <td>{{ subscription.firstName }}</td>
                            <td>{{ subscription.lastName }}</td>
                            <td>{{ subscription.email }}</td>
                            <td>{{ subscription.enabled ? 'Yes'|t : 'No'|t }}</td>
                            <td>{{ subscription.verificationStatus ? 'Yes'|t : 'No'|t }}</td>
                            <td>{{ subscription.dateCreated|date('d.m.Y') }}</td>
                            <td><a href="{{ cpUrl('content-subscriptions/subscriptions/edit/' ~ subscription.id) }}" class="edit icon" title="{{ 'Edit'|t('app') }}" role="button"></a></td>
                            <td><a href="{{ cpUrl('content-subscriptions/subscriptions/delete/' ~ subscription.id) }}" class="delete icon" title="{{ 'Delete'|t('app') }}" role="button"></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div>
            <p>{{ 'No subscriptions exist yet.'|t('content-subscriptions') }}</p>
        </div>
    {% endif %}
{% endblock %}
