{% extends '_layouts/cp' %}
{% set title = 'Mail Subscriptions' %}

{% block content %}
    {{ craft.app.request.getParam('id') }}
{% set mailGroups = craft.mailSubscriptions.getMailGroups(craft.app.request.getParam('id')) %}
    {% for group in mailGroups %}
        <tr>
            <td>{{ group.id }} a</td>
            <td>{{ group.sectionId }}</td>
            <td>{{ group.groupName }}</td>
            <td>

                {#<form class="form-{{ group.id }}">
                            {{ csrfInput() }}
                            {{ forms.hidden({
                                name: 'action'
                                value: 'mail-subscriptions/mail-subscriptions/new'
                            }) }}
                            <a href="javascript:void(0);" onclick="" class="edit-group-settings">Settings</a>
                        </form>#}
                <a href="edit/{{ group.id }}" class="edit-subscriptions">Subscriptions</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}