{% extends '_layouts/cp' %}

{% import '_includes/forms' as forms %}

{% set title = 'Edit Mail Group' %}
{% set selectedSubnavItem = 'groups' %}
{% set fullPageForm = true %}

{% set crumbs = [
    { label: 'Content Subscriptions' | t('content-subscriptions'), url: url('content-subscriptions') },
    { label: 'Groups' | t('content-subscriptions'), url: url('content-subscriptions/groups') },
    { label: group.groupName, url: url('content-subscriptions/groups/edit/'  ~ group.id) },
] %}

{% set sections = craft.mailSubscriptions.getSections(true) %}

{% set tabs = {
    general: {
        label: 'General'|t('mail-subscribtions'),
        url: '#general',
    },
    mail: {
        label: 'Mail'|t('mail-subscribtions'),
        url: '#mail',
    },
    optIn: {
        label: 'Opt-In'|t('mail-subscribtions'),
        url: '#opt-in',
    },
    unsubscribe: {
        label: 'Unsubscribe'|t('mail-subscribtions'),
        url: '#unsubscribe',
    },
} %}

{% set navItems = {
    'general-heading': { heading: "General"|t('content-subscriptions') },
    'settings': { title: "Settings"|t('content-subscriptions') },
} %}

{% block sidebar %}
    <nav>
        <ul>
            {% for key, element in navItems %}
                {% if element.heading is defined %}
                    <li class="heading">
                        <span>{{ element.heading }}</span>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url('content-subscriptions/groups/edit/' ~ group.id) }}" class="sel">{{ element.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% block content %}



    {{ forms.hidden({
        name: 'action',
        value: 'content-subscriptions/groups/update-mail-group'
    }) }}

    {{ forms.hidden({
        name: 'id',
        value: group.id
    }) }}

    {% include 'content-subscriptions/groups/_includes/general' %}
    {% include 'content-subscriptions/groups/_includes/mail' %}
    {% include 'content-subscriptions/groups/_includes/opt-in' %}
    {% include 'content-subscriptions/groups/_includes/unsubscribe' %}

{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        {% include 'content-subscriptions/_includes/_sidebar'  with {'element': group }%}
        {{ forms.lightSwitchField({
            label: 'Allow unsubscribing'|t('content-subscriptions'),
            name: 'enableUnsubscribing',
            on: group.enableUnsubscribing
        }) }}
    </div>
{% endblock %}