{% extends 'content-subscriptions/groups/_layouts/detail' %}

{% import '_includes/forms' as forms %}

{% set title = 'New Mail Group' %}

{% set crumbs = [
    { label: craft.contentSubscriptions.getPluginName | t('content-subscriptions'), url: url('content-subscriptions') },
    { label: 'Groups' | t('content-subscriptions'), url: url('content-subscriptions/groups') },
    { label: 'New' | t('content-subscriptions'), url: url('content-subscriptions/groups/new') },
] %}

{% block sidebar %}
    <nav>
        <ul>
            {% for key, element in navItems %}
                {% if element.heading is defined %}
                    <li class="heading">
                        <span>{{ element.heading }}</span>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url('content-subscriptions/groups/new') }}" class="sel">{{ element.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}


{% block content %}
    {{ forms.hidden({
        name: 'action',
        value: 'content-subscriptions/groups/save-mail-group'
    }) }}

    {% include 'content-subscriptions/groups/_includes/general' %}
    {% include 'content-subscriptions/groups/_includes/mail' %}
    {% include 'content-subscriptions/groups/_includes/opt-in' %}
    {% include 'content-subscriptions/groups/_includes/unsubscribe' %}
{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        {% include 'content-subscriptions/_includes/_sidebar' with {'element': ''} %}
        {{ forms.lightSwitchField({
            label: 'Allow unsubscribing'|t('content-subscriptions'),
            name: 'enableUnsubscribing',
            on: true
        }) }}
    </div>
{% endblock %}