{% extends '_layouts/cp' %}

{% import '_includes/forms' as forms %}

{% set title = 'New Mail Group' %}
{% set selectedSubnavItem = 'groups' %}
{% set fullPageForm = true %}

{% set sections = craft.contentSubscriptions.getSections(true) %}

{% set crumbs = [
    { label: craft.contentSubscriptions.getPluginName | t('content-subscriptions'), url: url('content-subscriptions') },
    { label: 'Groups' | t('content-subscriptions'), url: url('content-subscriptions/groups') },
    { label: 'New' | t('content-subscriptions'), url: url('content-subscriptions/groups/new') },
] %}

{% set tabs = {
    general: {
        label: 'General'|t('mail-subscribtions'),
        url: '#general',
    },
    mail: {
        label: 'Mail'|t('mail-subscribtions'),
        url: '#mail',
    },
    optIn: {
        label: 'Opt-In'|t('mail-subscribtions'),
        url: '#opt-in',
    },
    unsubscribe: {
        label: 'Unsubscribe'|t('mail-subscribtions'),
        url: '#unsubscribe',
    },
} %}

{% set navItems = {
    'general-heading': { heading: "General"|t('content-subscriptions') },
    'general': { title: "General"|t('content-subscriptions') },

} %}

{% block sidebar %}
    <nav>
        <ul>
            {% for key, element in navItems %}
                {% if element.heading is defined %}
                    <li class="heading">
                        <span>{{ element.heading }}</span>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url('content-subscriptions/groups/new') }}" class="sel">{{ element.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}


{% block content %}

    {{ forms.hidden({
        name: 'action',
        value: 'content-subscriptions/groups/save-mail-group'
    }) }}
    {% include 'content-subscriptions/groups/_includes/general' with { group: ''} %}
    {% include 'content-subscriptions/groups/_includes/mail' with { group: ''} %}
    {% include 'content-subscriptions/groups/_includes/opt-in' with { group: ''} %}
    {% include 'content-subscriptions/groups/_includes/unsubscribe' with { group: ''} %}


{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        {% include 'content-subscriptions/_includes/_sidebar' with {'element': ''} %}
        {{ forms.lightSwitchField({
            label: 'Allow unsubscribing'|t('content-subscriptions'),
            name: 'enableUnsubscribing',
            on: true
        }) }}
    </div>
{% endblock %}