{% extends '_layouts/cp' %}

{% import '_includes/forms' as forms %}

{% set title = 'Mail Groups' %}

{% set mailGroups = craft.mailSubscriptions.getMailGroups() %}
{% set sections = craft.mailSubscriptions.getSections %}

{% block headertitle %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block actionButton %}
    <a href="{{ cpUrl('mail-subscriptions/groups/new') }}" class="btn submit add icon">{{ 'New Group'|t('mail-subscriptions') }}</a>
{% endblock %}

{% block contextMenu %}

{% endblock %}


{% block content %}
    {% if mailGroups|length %}
        <h3>{{ 'Groups' | t('mail-subscriptions') }} </h3>
        <table>
            <tr>
                <td>{{ 'Group ID' |t('mail-subscriptions') }}</td>
                <td>{{ 'Section' |t('mail-subscriptions') }}</td>
                <td>{{ 'Group Name' |t('mail-subscriptions') }}</td>
                <td class="actions"></td>
            </tr>
            {% for group in mailGroups %}
                <tr class="s-{{ group.sectionId }}">
                    <td>{{ group.id }}</td>
                    <td>{{ sections[group.sectionId] }}</td>
                    <td>{{ group.groupName }}</td>
                    <td>
                        <a href="{{ cpUrl('mail-subscriptions/groups/edit/' ~ group.id) }}">{{ 'Edit'|t('mail-subscriptions') }}</a>
                        {# {% if currentUser.can('formie-createForms') %}#}
                        <a href="{{ cpUrl('mail-subscriptions/groups/delete/' ~ group.id) }}">{{ 'Delete'|t('mail-subscriptions') }}</a>

                        {#{% endif %}#}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}



    {#{% set text = 'Enter a message. Available tags: ' ~ availableTags() %}#}
    {#
    <div id="settings" class="hidden">
        <h2>Templates</h2>
        <form method="post" action="">
            {{ csrfInput() }}

            {{ forms.hidden({
                name: 'action',
                value: 'mail-subscriptions/settings/save-mail-group'
            }) }}

            {{ forms.textAreaField({
                label: 'Mail Template',
                name: 'mailTemplate',
                value: settings.mailTemplate,
                instructions: 'Enter a message. Available tags: ##NAME##, ##EMAIL##' ,
                rows: 4,
                required: true,
            }) }}

            {{ forms.submitButton({
                label: 'Submit',
                name: 'submit',
            }) }}
        </form>

        <p>Templates: {{ mailGroups | length}}</p>
        <h2>Subscriptions</h2>
        <form method="post" action="">
            {{ csrfInput() }}

            {{ forms.hidden({
                name: 'action',
                value: 'mail-subscriptions/settings/save-subscription'
            }) }}

            {{ forms.textField({
                label: 'Subscription',
                name: 'subscription-email',
                value: settings.mailTemplate,
                instructions: 'Enter a E-Mail Address' ,
                required: true,
            }) }}

            {{ forms.textField({
                label: 'Section Id',
                name: 'section-id',
                value: settings.mailTemplate,
                instructions: 'Enter a section id' ,
                required: true,
            }) }}

            {{ forms.submitButton({
                label: 'Submit',
                name: 'submit',
            }) }}
        </form>
        <p>Subs: {{ mailSubscriptions | length}}</p>
    </div>
    <script>
        removeSubscription = function(e) {
            alert('test');

        }
    </script>
    #}
{% endblock %}