{% extends '_layouts/cp' %}

{% import '_includes/forms' as forms %}

{% set title = 'Mail Groups' %}
{% set selectedSubnavItem = 'groups' %}

{% set mailGroups = craft.contentSubscriptions.getMailGroups() %}
{% set sections = craft.contentSubscriptions.getSections(true) %}

{% set result = craft.query().select('id as groupId, count(*) as count').from('{{%contentsubscriptions_subscription}}').groupBy('groupId').all() %}
{% set subscriberCount = [] %}
{% for group in result %}
    {% set subscriberCount = subscriberCount|merge({('g-' ~ group.groupId): group.count}) %}
{% endfor %}

{% set crumbs = [
    { label: craft.contentSubscriptions.getPluginName, url: url('content-subscriptions') },
    { label: 'Groups' | t('content-subscriptions'), url: url('content-subscriptions/groups') },
] %}

{% block headertitle %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block actionButton %}
    <a href="{{ cpUrl('content-subscriptions/groups/new') }}" class="btn submit add icon">{{ 'New Group'|t('content-subscriptions') }}</a>
{% endblock %}

{% block contextMenu %}

{% endblock %}

{% block content %}

    {% if mailGroups|length %}
        <div class="tableview tablepane">


            <table class="data fullwidth">
                <thead>
                <tr>

                    <th scope="col">{{ 'Group Name' |t('content-subscriptions') }}</th>
                    <th scope="col">{{ 'Section' |t('content-subscriptions') }}</th>
                    <th scope="col">{{ 'Subscriber count' |t('content-subscriptions') }}</th>
                    <th scope="col">{{ 'Date created' |t('content-subscriptions') }}</th>
                    <th class="col"></th>
                    <th class="thin"></th>
                    <th class="thin"></th>
                    <th class="thin"></th>
                </tr>
                </thead>
                {% for group in mailGroups %}


                    <tbody>
                    <tr class="s-{{ group.sectionId }}">
                        <td class="name-column"><a href="{{ cpUrl('content-subscriptions/groups/edit/' ~ group.id) }}">{{ group.groupName }}</a></td>
                        <td class="section-column">{{ sections[group.sectionId] ?? '-' }}</td>
                        <td class="count-column">{{ subscriberCount['g-'~group.id] ?? '0'  }}</td>
                        <td class="date-created-column">{{ group.dateCreated|date('d.m.Y')  }}</td>
                        <td class="twig-snipped-column"><p class="code copytextbtn" onclick="navigator.clipboard.writeText('\{\{ craft.contentSubscriptions.getSubscriptionForm(\{ groupId: {{ group.id }}, returnUrl: craft.app.request.absoluteUrl, btnValue: \'Send\'|t(), btnClass: \'my-btn\', formClass: \'my-form\'  \} )\}\}');">{{ '\{\{ craft.contentSubscriptions.getSubscriptionForm(\{ groupId: ' ~ group.id ~ ', returnUrl: craft.app.request.absoluteUrl, btnValue: \'Send\'|t(), btnClass: \'my-btn\', formClass: \'my-form\'  \}) \}\}' }}</p></td>
                        <td class="twig-btn-column"><a href="javascript:void(0)" data-icon="clipboard" onclick="navigator.clipboard.writeText('\{\{ craft.contentSubscriptions.getSubscriptionForm(\{ groupId: {{ group.id }}, returnUrl: craft.app.request.absoluteUrl, btnValue: \'Send\'|t(), btnClass: \'my-btn\', formClass: \'my-form\'  \} )\}\}');" title="{{ 'Copy twig snipped'|t('app') }}" role="button"></a></td>
                        <td class="edit-column"><a href="{{ cpUrl('content-subscriptions/groups/edit/' ~ group.id) }}" class="edit icon" title="{{ 'Edit'|t('app') }}" role="button"></a></td>
                        <td class="delete-column"><a href="{{ cpUrl('content-subscriptions/groups/delete/' ~ group.id) }}" class="delete icon" title="{{ 'Delete'|t('app') }}" role="button"></a></td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div>
            <p>{{ 'No groups exist yet.'|t('content-subscriptions') }}</p>
        </div>
    {% endif %}
<style>
    .twig-snipped-column {
        max-width: 440px;
    }
</style>
{% endblock %}