{% extends '_layouts/cp' %}

{% import '_includes/forms' as forms %}

{% set title = 'Mail Groups' %}
{% set selectedSubnavItem = 'groups' %}

{% set mailGroups = craft.contentSubscriptions.getMailGroups() %}
{% set sections = craft.contentSubscriptions.getSections(true) %}

{% set crumbs = [
    { label: 'Content Subscriptions' | t('content-subscriptions'), url: url('content-subscriptions') },
    { label: 'Groups' | t('content-subscriptions'), url: url('content-subscriptions/groups') },
] %}

{% block headertitle %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block actionButton %}
    <a href="{{ cpUrl('content-subscriptions/groups/new') }}" class="btn submit add icon">{{ 'New Group'|t('content-subscriptions') }}</a>
{% endblock %}

{% block contextMenu %}

{% endblock %}

{% block content %}
    {% if mailGroups|length %}
        <div class="tableview tablepane">
            <table class="data fullwidth">
                <thead>
                <tr>
                    {# TODO amount of subscribers #}
                    {# TODO date edited #}
                    {# TODO date created #}
                    {# TODO provide unsubscribing-option #}
                    {#<th scope="col">{{ 'Group ID' |t('content-subscriptions') }}</th>#}
                    <th scope="col">{{ 'Group Name' |t('content-subscriptions') }}</th>
                    <th scope="col">{{ 'Section' |t('content-subscriptions') }}</th>
                    <th class="col"></th>
                    <th class="thin"></th>
                    <th class="thin"></th>
                    <th class="thin"></th>
                </tr>
                </thead>
                {% for group in mailGroups %}
                    <tbody>
                    <tr class="s-{{ group.sectionId }}">
                       {# <td>{{ group.id }}</td>#}
                        <td><a href="{{ cpUrl('content-subscriptions/groups/edit/' ~ group.id) }}">{{ group.groupName }}</a></td>
                        <td>{{ sections[group.sectionId] }}</td>
                        {# <td>
                                <a href="{{ cpUrl('content-subscriptions/groups/edit/' ~ group.id) }}">{{ 'Edit'|t('content-subscriptions') }}</a>
                                {% if currentUser.can('formie-createForms') %}
                                    <a href="{{ cpUrl('content-subscriptions/groups/delete/' ~ group.id) }}">{{ 'Delete'|t('content-subscriptions') }}</a>
                                {% endif %}
                            </td>#}
                        {# TODO fix text #}
                        <td><p class="code copytextbtn" onclick="navigator.clipboard.writeText('\{\{ craft.contentSubscriptions.getSubscriptionForm({{ group.id }}) \}\}');">{{ '\{\{ craft.contentSubscriptions.getSubscriptionForm(' ~ group.id ~ ') \}\}' }}</p></td>
                        <td><a href="javascript:void(0)" data-icon="clipboard" onclick="navigator.clipboard.writeText('\{\{ craft.contentSubscriptions.getSubscriptionForm({{ group.id }}) \}\}');" title="{{ 'Copy twig snipped'|t('app') }}" role="button"></a></td>
                        <td><a href="{{ cpUrl('content-subscriptions/groups/edit/' ~ group.id) }}" class="edit icon" title="{{ 'Edit'|t('app') }}" role="button"></a></td>
                        <td><a href="{{ cpUrl('content-subscriptions/groups/delete/' ~ group.id) }}" class="delete icon" title="{{ 'Delete'|t('app') }}" role="button"></a></td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div>
            <p>{{ 'No groups exist yet.'|t('content-subscriptions') }}</p>
        </div>
    {% endif %}



    {#{% set text = 'Enter a message. Available tags: ' ~ availableTags() %}#}
    {#
    <div id="settings" class="hidden">
        <h2>Templates</h2>
        <form method="post" action="">
            {{ csrfInput() }}

            {{ forms.hidden({
                name: 'action',
                value: 'content-subscriptions/settings/save-mail-group'
            }) }}

            {{ forms.textAreaField({
                label: 'Mail Template',
                name: 'mailTemplate',
                value: settings.mailTemplate,
                instructions: 'Enter a message. Available tags: ##NAME##, ##EMAIL##' ,
                rows: 4,
                required: true,
            }) }}

            {{ forms.submitButton({
                label: 'Submit',
                name: 'submit',
            }) }}
        </form>

        <p>Templates: {{ mailGroups | length}}</p>
        <h2>Subscriptions</h2>
        <form method="post" action="">
            {{ csrfInput() }}

            {{ forms.hidden({
                name: 'action',
                value: 'content-subscriptions/settings/save-subscription'
            }) }}

            {{ forms.textField({
                label: 'Subscription',
                name: 'subscription-email',
                value: settings.mailTemplate,
                instructions: 'Enter a E-Mail Address' ,
                required: true,
            }) }}

            {{ forms.textField({
                label: 'Section Id',
                name: 'section-id',
                value: settings.mailTemplate,
                instructions: 'Enter a section id' ,
                required: true,
            }) }}

            {{ forms.submitButton({
                label: 'Submit',
                name: 'submit',
            }) }}
        </form>
        <p>Subs: {{ contentSubscriptions | length}}</p>
    </div>
    <script>
        removeSubscription = function(e) {
            alert('test');

        }
    </script>
    #}
{% endblock %}